<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.anoopam.main">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- GCM PERMISSIONS START -->

    <permission
        android:name="permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- GCM PERMISSIONS END -->
    <application
        android:name="org.anoopam.main.AMApplication"
        android:allowTaskReparenting="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Internet connection state receiver -->

        <receiver android:name="org.smart.framework.SmartInternetConnectionStateChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- GCM Component -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.smart.framework.FetchAddressIntentService"
            android:exported="false" />

        <!-- Crash Handler Activity START -->
        <activity android:name="org.smart.framework.CrashReportActivity" />
        <!-- Crash Handler Activity END -->

        <provider
            android:name="org.smart.framework.SmartSuggestionProvider"
            android:authorities="MySuggestionProvider" />

        <activity
            android:name="org.anoopam.main.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.anoopam.main.thakorjitoday.TempleListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.anoopam.main.home.HomeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.anoopam.main.thakorjitoday.TempleGalleryActivity"
            android:configChanges="orientation" />
        <activity
            android:name="org.anoopam.main.anoopamaudio.AudioCatListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="org.anoopam.main.anoopamaudio.AudioListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.anoopam.main.anoopamaudio.AudioPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.anoopam.main.sahebjidarshan.SahebjiAlbumListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.anoopam.main.sahebjidarshan.SahebjiGalleryActivity"
            android:configChanges="orientation" />

        <activity
            android:name="org.anoopam.main.sahebjidarshan.SahebjiDarshanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name="org.anoopam.main.qow.QuoteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme"></activity>

        <activity
            android:name="org.anoopam.main.news.NewsListActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="org.anoopam.main.anoopamaudio.AudioService"
            android:exported="true"
            android:enabled="true"/>

        <receiver android:name="org.anoopam.main.anoopamaudio.NotificationBroadcast" >
            <intent-filter>
                <action android:name="org.anoopam.main.delete" />
                <action android:name="org.anoopam.main.pause" />
                <action android:name="org.anoopam.main.next" />
                <action android:name="org.anoopam.main.play" />
                <action android:name="org.anoopam.main.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
